WebContent/wsdl/Clock.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server" xmlns:intf="http://server" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="enviarMensagem">
    <complexType>
     <sequence>
      <element name="time" type="xsd:long"/>
      <element name="mensagem" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="enviarMensagemResponse">
    <complexType>
     <sequence>
      <element name="enviarMensagemReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="enviarMensagemRequest">

      <wsdl:part element="impl:enviarMensagem" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="enviarMensagemResponse">

      <wsdl:part element="impl:enviarMensagemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Clock">

      <wsdl:operation name="enviarMensagem">

         <wsdl:input message="impl:enviarMensagemRequest" name="enviarMensagemRequest">

       </wsdl:input>

         <wsdl:output message="impl:enviarMensagemResponse" name="enviarMensagemResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ClockSoapBinding" type="impl:Clock">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="enviarMensagem">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="enviarMensagemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="enviarMensagemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ClockService">

      <wsdl:port binding="impl:ClockSoapBinding" name="Clock">

         <wsdlsoap:address location="http://localhost:8080/Christian/services/Clock"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
